<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
      <a href=""></a>
      <p><input type="text" name="title" value="<%= posts.title%>" /></p>
      <p><input type="text" name="author" value="<%=posts.author%>" /></p>
      <input type="text" name="createdDate" value="<%= posts.createdAt%>" />
      <input type="password" name="password" />
      <p>
        <textarea name="body"><%= posts.body %></textarea>
      </p>
      <button type="button" id="editBtn" data-id="<%=posts.id%>">수정하기</button>
      <button type="button" id="delBtn" data-id="<%=posts.id%>">삭제하기</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="index.js"></script>
  </body>
</html>
